<html>
<div class="jumbotron" style = "text-align: center; height: 100%;">
    <img src="https://media.licdn.com/dms/image/D4E03AQHvKwOKoyduDg/profile-displayphoto-shrink_800_800/0/1674639294119?e=1691020800&v=beta&t=Ve9gZ2YU69nbH6_ZWHP6ZUjsKSOM_AEzFMJziASz_y0" class = "profile">
    <h1 class="display-4">Samuel Fox</h1>
    <p class="lead">Java Full Stack Engineer at GenSpark</p>
    <hr class="my-4">
    <p>I am a recent graduate from Oregon State University with a Bachelors Degree in Computer Science. Currently I am working at a position at GenSpark to help improve my programming abilities. Through the program I have become a much stronger Java developer and have learned many new skills such as MySQL, AWS, and Spring Boot.</p>
  </div>
</html>
